.idea
/ServerFiles/Engine
/ServerFiles/ShooterGame
/ServerFiles/steamapps
/ServerFiles/*.dll
/ServerFiles/*.txt
/ServerFiles/*.bin

/SteamCMD/*.dll
/SteamCMD/userdata/
/SteamCMD/steamapps/
/SteamCMD/package/
/SteamCMD/logs/
/SteamCMD/bin/
/SteamCMD/*.vdf
/SteamCMD/steamerrorreporter.exe
/SteamCMD/config/
/SteamCMD/siteserverui
/SteamCMD/depotcache
/SteamCMD/appcache
/SteamCMD/public
